<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  </head>
  <body>

    <%- include layout/navbar %>

    <div class="container">
      <h1><%= title %></h1>
      <p>Welcome to IOT </p>
      <a href="/user">สมาชิก</a>
      <a href="/iot">iot</a>
      <a href="/report">Report</a>

      
    </div>
    

  </body>
</html>
